<head>
  <title>complex calculator</title>
</head>
<body>
  <h3><p align=center>Instructions for use of complex calculator:</p></h3>
  <p align=center>
    <a href="https://pknipp.github.io/math">
      Return
    </a>
    to the Math APIs page.
    <ul>
      <li>
        After <tt>...herokuapp.com</tt> above you should type <tt>/json/</tt> followed by your complex expression using the syntax below.  If you want the response to be html rather than json, simply omit <tt>/json</tt> from the address.
      </li>
      <li>
        SYNTAX:
        <ul>
          <li>
            spaces: These are legal - but discouraged - because <tt>%20</tt> will replace each space after you hit <tt>return</tt>, thereby making the address uglier.
          </li>
          <li>
            numbers:
            <ul>
              <li>
                <b>real</b>: This should be an integer or decimal but not a fraction, because "<tt>/</tt>" has special meaning in a URL. Do not include any commas in the number, even if it exceeds 1000.
              </li>
              <li>
                <b>imaginary</b>: This should be a real number (See above.) which multiplies (See below.) either <tt>i</tt> or <tt>j</tt>.
              </li>
              <li>
                <b>complex</b>: This is a simple sum/difference (See below.) of a real number and an imaginary number. (See above.)
              </li>
            </ul>
          </li>
          <li>
            binary operations:
            <ul>
              <li>
                <b>P</b>arentheses: Their use is encouraged as with any calculation, especially if you are uncertain as to the order of operations (ie, "PEMDAS" or "BEDMAS").  Use <tt>()</tt> but neither <tt>[]</tt> nor <tt>{}</tt>.
              </li>
              <li>
                <b>E</b>xponentiation: <tt>**</tt> (recommended) or <tt>^</tt> (discouraged).  The latter is discouraged because <tt>%5E</tt> will replace each instance of <tt>^</tt> after you hit <tt>return</tt>, thereby making the address uglier.
              </li>
              <li>
                <b>M</b>ultiplication: Do this either by <tt>*</tt> or in an implied manner, ie with nothing separating the two numbers.
              </li>
              <li>
                <b>D</b>ivision: Because "<tt>/</tt>" has special meaning in a URL, represent this operation either by <tt>div</tt> or <tt>DIV</tt>, or even <tt>d</tt> or <tt>D</tt>.
              </li>
              <li>
                <b>A</b>ddition: <tt>+</tt>
              </li>
              <li>
                <b>S</b>ubtraction: <tt>-</tt>
              </li>
            </ul>
          </li>
          <li>
            unary operations: Below are listed the available functions, most of which are explained <a href="https://pkg.go.dev/math/cmplx">here</a>.
            <ul>
              <li>
                basic: Real, Imag, Abs, Phase, Conj, Sqrt
              </li>
              <li>
                exponential and inverses: Exp, Log, Log2, Log10
              </li>
              <li>
                circular trigonometric: Cos, Sin, Tan, Sec, Csc, Cot
              </li>
              <li>
                inverses of circular trig: Acos, Asin, Atan, Asec, Acsc, Acot
              </li>
              <li>
                hyperbolic trigonometric: Cosh, Sinh, Tanh, Sech, Csch, Coth
              </li>
              <li>
                inverses of hyperbolic trig: Acosh, Asinh, Atanh, Asech, Acsch, Acoth
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        EXAMPLE:
        <ul>
          <li>
            expression: {cos<sup>-1</sup>[1.2i(3 + i)] + 4/(5 - 6i)}<sup>7 + 8i</sup>
          </li>
          <li>
            how to type: <tt>(Acos(1.2i(3+i))+4d(5-6i))**(7+8i)</tt>
          </li>
          <li>
            result: <tt>-179350.52181665212 - 95128.46772892449 i</tt>
          </li>
        </ul>
      </li>
    </ul>
    <div>
      creator:&nbsp;
      <a href='https://pknipp.github.io/' target='_blank' rel='noopener noreferrer'>
        Peter Knipp
      </a>
    </div>
  </p>
</body>
